/* Custom Previous Button */
.custom-prev {

  transform: translateY(-50%);
  z-index: 10;
  background-color: #ededed;
  color: #000;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* Custom Next Button */
.custom-next {

  transform: translateY(-50%);
  z-index: 10;
  background-color: #ededed;
  color: #000;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* Hover Effects */
.custom-prev:hover,
.custom-next:hover {
  background-color: #febbba;
  /* color: #fff; */
}
